@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Pinyon+Script&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oleo Script', cursive;
  font-size:20px;
}
body {

      background:  linear-gradient(to bottom, rgba(251,217,181,  1), rgba(70, 70, 70, 0.3),  rgba(251,217,181,  1)), url('https://images.unsplash.com/photo-1558066858-246fbbf9446f?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc4OTY3Mjk&ixlib=rb-1.2.1&q=80');
background-size: 100%;
  background-repeat: repeat;
  background-size: cover;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75%;
  min-height: 600px;
  background: #4E342E;

  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
   opacity:80%;   

}

h1 {
  display:inline-block;
  margin: 32px 0;
  font-size: 34px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  display: inline-block;
  margin: 0 auto 32px auto;
  padding: 0 auto 35px auto;
width: 90%;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid brown;
  outline: none;
  width: 50%;
  background: transparent;
  color: black;
}

.todo-input::placeholder {
  display: inline-block;
  color: black;
}


@media screen and (max-width: 420px) {
  .todo-input::placeholder  {
opacity: 0;  }

h1{
  font-size: 30px;
}



}


@media screen and (max-width: 560px) {

.todo-input.edit{
  border-radius: 4px 4px  0 0;
  width: 192px;
}

.todo-button.edit {

  border-radius:0 0 4px  4px ;
}

}




.todo-button {
  display: inline-block;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background:brown;
  
  color: black;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid brown;
}

.todo-button.edit {
  background:sepia;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: black;
  background:#795548;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

p{
  word-break: break-all;
  text-align: left;
  padding-right: 20px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  margin-top:8px;
}

.delete-icon {
  color: brown;
}

.edit-icon {
  color: brown;
    margin-right: 8px;

}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -72.5px;
  
  opacity:50%;
}


.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}



#delete-with-fire{

margin-left: -66px;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}